@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/* Nord by arcticicestudio */
:root {
  --base00: #2E3440;
  --base01: #3B4252;
  --base02: #434C5E;
  --base03: #4C566A;
  --base04: #D8DEE9;
  --base05: #E5E9F0;
  --base06: #ECEFF4;
  --base07: #8FBCBB;
  --base08: #88C0D0;
  --base09: #81A1C1;
  --base0A: #5E81AC;
  --base0B: #BF616A;
  --base0C: #D08770;
  --base0D: #EBCB8B;
  --base0E: #A3BE8C;
  --base0F: #B48EAD;
}
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
}
#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: var(--base00);
    color: var(--base04);
    font-family: "Noto Sans JP";
}
.welcome-div {
    margin: 20px;
}
h1 {
    font-size: 6rem;
    font-weight: 800;
    text-align: center;
}
p {
    font-size: 2rem;
    text-align: center;
}
