/* global */

/* Nord by arcticicestudio */

:root {
    --base00: #2e3440;
    --base01: #3b4252;
    --base02: #434c5e;
    --base03: #4c566a;
    --base04: #d8dee9;
    --base05: #e5e9f0;
    --base06: #eceff4;
    --base07: #8fbcbb;
    --base08: #88c0d0;
    --base09: #81a1c1;
    --base0A: #5e81ac;
    --base0B: #bf616a;
    --base0C: #d08770;
    --base0D: #ebcb8b;
    --base0E: #a3be8c;
    --base0F: #b48ead;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    background: var(--base00);
    /* background: linear-gradient(#2e3440, #4C566A); */
    color: var(--base04);
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 8rem;
    font-weight: 600;
}

h2 {
    font-size: 4rem;
    font-weight: 600;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: var(--base03);
}

/* class */

.section-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 10vw;
}

.one-page-div {
    height: calc(100vh - 2 * 100px);
}

.content-left,
.content-right {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.content-left {
    align-self: flex-start;
    text-align: left;
}

.content-right {
    align-self: flex-end;
    text-align: right;
}

.heading {
    margin: 0 0 100px 0;
}

.margin-div {
    margin: 0 0 100px 0;
}

.cell {
    font-size: 2rem;
    font-weight: 400;
    margin: 0 0 10px 0;
}

/* id */

/* welcome div */

/* intro div */

#logo {
    /* position: absolute; */
    /* right: px; */
    align-self: left;
    width: 200px;
}

/* interest div */

#interest-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-row-gap: 40px;
}

/* lang div */

#lang-list {
    display: flex;
    flex-direction: column;
}

/* contact div */

#contact-div {
    position: relative;
}

#contact-link {
    position: absolute;
    bottom: 0px;
}

#guestbook {
    position: absolute;
    bottom: 0px;
}

.input-text {
    background: var(--base01);
    color: var(--base04);
    border: hidden;
    border-radius: 4px;
    font: inherit;
    font-size: 1.5rem;
    padding: 10px;
    margin: 0 0 10px 0;
}

.input-text::placeholder {
    color: var(--base03);
}
.input-text:focus {
    outline: none;
}
